#mainContent {
  z-index: 0;
}

.division {
  max-width: 1400px;
  width: 98%;
  margin: 50px auto;
  border-radius: 30px;
}

section {
  max-width: 1360px;
  margin: auto;
  border-radius: 30px;
  padding: 40px;
  position: relative;
}

#pageHeader {
  background-image: url("Resource/pageHeaderBackground.png");
  background-size: cover;
  background-position: center;
  color: white;
}

.pageHeaderDescription {
  max-width: 40%;
  font-family: googleSans, "serif";
  font-size: 22px;
}

.title {
  font-family: googleSans, serif;
  font-size: 35px;
  text-align: left;
  display: block;
  margin-top: 0;
}

#pageHeaderImage {
  border-radius: 50%;
  position: absolute;
  right: 20px;
  bottom: 15%;
}

.descriptionText {
  font-size: 20px;
  font-family: googleSans, serif;
}

#resourcesNavigation {
  background-color: #dcdcdc;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  float: right;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 30px;
}

#resourcesNavigationTitle {
  display: block;
  text-decoration: none;
  color: black;
  text-align: center;
  padding: 10px;
  font-family: googleSans, serif;
  font-size: 20px;
}

#resourcesNavigationTitle:hover {
  color: #404040;
}

.resourcesNavigationLink {
  width: 100%;
  text-decoration: none;
  color: black;
  text-align: center;
  padding: 10px;
  font-family: googleSans, serif;
}

.resourcesNavigationLink:hover {
  color: #404040;
}

.document {
  text-decoration: none;
  text-align: left;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-direction: row;
  color: black;
  box-shadow: black 1px 1px 5px;
  border-radius: 30px;
  padding: 20px;
  margin: 20px;
  background-color: #e2f2ff;
  transition: color 0.5s, background-color 0.5s;
}

.descriptionTextSmall {
  font-size: smaller;
  font-family: googleSans, serif;
  color: #4c4c4c;
}

.document:hover {
  background-color: #142039;
  color: white;
}

.document > span > .descriptionTextSmall {
  transition: color 0.5s;
}

.document:hover > span > .descriptionTextSmall {
  color: white;
}

.document img {
  max-height: 400px;
  max-width: 400px;
  filter: blur(3px);
  border-radius: 10px;
  /*clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);*/
}
