#mainContent {
  z-index: 0;
}

.division {
  max-width: 1400px;
  width: 98%;
  margin: 50px auto;
  border-radius: 30px;
}

section {
  max-width: 1360px;
  margin: auto;
  border-radius: 30px;
  padding: 40px;
  position: relative;
}

#pageHeader {
  background-image: url("Resource/pageHeaderBackground.png");
  background-size: cover;
  color: white;
}

#pageHeaderDescription {
  max-width: 40%;
  font-family: googleSans, "serif";
  font-size: 22px;
}

.title {
  font-family: googleSans, "serif";
  font-size: 35px;
  text-align: left;
  display: block;
  margin-top: 0;
}

#pageHeaderImage {
  border-radius: 50%;
  position: absolute;
  right: 20px;
  bottom: 15%;
}

.descriptionText {
  font-size: 20px;
  font-family: googleSans, serif;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  font-family: googleSans, serif;
  padding: 0;
  list-style: none;
}

li {
  background-color: #142039;
  color: white;
  text-align: center;
  padding: 10px;
  height: 190px;
  width: 295px;
  position: relative;
  border-radius: 10px;
  border: #4b50b8 4px solid;
}

li img {
  padding: 20px;
  max-height: 80px;
  max-width: 160px;
  display: block;
  margin: auto;
}

li div {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  background-color: #505050;
  border-radius: 10px 10px 6px 6px;
}

li a {
  text-decoration: none;
  color: white;
  display: block;
  text-align: center;
  padding: 2px;
}

li a:hover {
  color: #e2f2ff;
}

#aboutNavigation {
  background-color: #dcdcdc;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  float: right;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 30px;
}

#aboutNavigationTitle {
  display: block;
  text-decoration: none;
  color: black;
  text-align: center;
  padding: 10px;
  font-family: googleSans, serif;
  font-size: 20px;
}

#aboutNavigationTitle:hover {
  color: #404040;
}

.aboutNavigationLink {
  width: 100%;
  text-decoration: none;
  color: black;
  text-align: center;
  padding: 10px;
  font-family: googleSans, serif;
}

.aboutNavigationLink:hover {
  color: #404040;
}
