#pageHeader {
  background-color: white;
  background-image: url("Resource/aboutICDATop.png");
  background-size: cover;
  background-position: center;
}

#pageHeader p {
  color: white;
}

#pageHeaderDescription {
  max-width: 40%;
  font-family: googleSans, "serif";
  font-size: 22px;
}

#tournamentsDescription {
  background-color: #142039;
  color: white;
}

#boxesContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tournamentBox {
  border: #f4f4f4 1px solid;
  height: 120px;
  width: 160px;
  margin: 15px;
  border-radius: 30px;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  font-family: googleSans, serif;
  font-size: 20px;
  display: inline;
  font-weight: bold;
  overflow: hidden;
  transition: 0.25s border-bottom-width, 0.25s border-left-width,
    0.25s border-right-width, 0.25s border-top-width, 0.25s margin-top,
    0.25s margin-right, 0.25s margin-left, 0.25s margin-bottom;
}

.tournamentBox svg {
  display: block;
  padding-bottom: 50px;
  height: 0;
}

.tournamentBox:hover {
  border-top-width: 4px;
  border-right-width: 4px;
  border-bottom-width: 4px;
  border-left-width: 4px;
  margin: 12px;
}

#noviceWorkShop {
  background-color: #e2f2ff;
  display: flex;
  justify-content: space-between;
}

#noviceWorkshopImage {
  vertical-align: bottom;
  width: 40%;
}

#noviceWorkShopTextContainer {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}

#aboutNavigation {
  background-color: #dcdcdc;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  float: right;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 30px;
}

#aboutNavigationTitle {
  display: block;
  text-decoration: none;
  color: black;
  text-align: center;
  padding: 10px;
  font-family: googleSans, serif;
  font-size: 20px;
}

#aboutNavigationTitle:hover {
  color: #404040;
}

.aboutNavigationLink {
  width: 100%;
  text-decoration: none;
  color: black;
  text-align: center;
  padding: 10px;
  font-family: googleSans, serif;
}

.aboutNavigationLink:hover {
  color: #404040;
}
