@font-face {
  font-family: googleSans;
  src: url("/public/fonts/googleSans.woff");
}

section {
  background-color: #e2f2ff;
  border: #242557 4px solid;
}

label {
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  border: #242557 4px solid;
  background-color: aliceblue;
  font-family: googleSans, Arial;
}

button {
  margin-top: 10px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#mainContent a {
  margin-top: 10px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-family: googleSans, Arial;
}

#mainContent a:hover {
  background-color: #0056b3;
}

#mainContent img {
  max-height: 400px;
  border-radius: 30px;
}

#viewer {
  font-family: googleSans, Arial;
}

#viewer p {
  margin-top: 10px;
  line-height: 1.6;
  font-size: 22px;
}

#viewer h1,
#viewer h2,
#viewer h3 {
  margin-top: 20px;
  font-weight: bold;
}

#viewer h1 {
  font-size: 30px;
}

#viewer h2 {
  font-size: 25px;
}

#viewer li {
  font-size: 22px;
}
