@font-face {
  font-family: googleSans;
  src: url("/public/fonts/googleSans.woff");
}

section {
  background-color: #e2f2ff;
  border: #242557 4px solid;
}

label {
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  border: #242557 4px solid;
  background-color: aliceblue;
  font-family: googleSans, Arial;
}

button {
  margin-top: 10px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#mainContent {
  font-family: googleSans, Arial;
}

#mainContent a {
  margin-top: 10px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-family: googleSans, Arial;
}

#mainContent a:hover {
  background-color: #0056b3;
}

#mainContent img {
  max-height: 200px;
  border-radius: 30px;
}

#list {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 1200px) {
  #list {
    grid-template-columns: repeat(3, 1fr);
  }
}

.post {
  background-color: #e2f2ff;
  border: #242557 4px solid;
  border-radius: 20px;
  padding: 10px;
}

.post a {
  display: block;
}
