#pageHeaderDescription {
  font-family: googleSans, "serif";
  font-size: 30px;
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
}

#pageHeader {
  background-image: url("Resource/resourcesImage.jpg");
  background-size: cover;
}

#pageHeader section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#resourcesNavigation {
  background-color: #142039;
  color: white;
}

#resourcesNavigation section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 4%;
}

.resourcesNavigationLink {
  width: 21%;
  height: 40px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  font-family: googleSans, serif;
  font-size: 20px;
  background-color: #e2f2ff;
  border: #404040 2px solid;
  border-radius: 10px;
  margin-bottom: 5px;
  transition: background-color 0.25s;
}

.resourcesNavigationLink:hover {
  background-color: #becbd6;
}

.question {
  display: flex;
  justify-content: space-between;
  background-color: #989898;
  height: 40px;
  box-shadow: black 0 2px 4px;
}

.question p {
  margin: auto 10px;
}

.question:hover {
  cursor: pointer;
  background-color: #7a7a7a;
}

.answer {
  background: #cdcdcd;
  padding: 10px;
  margin-top: 2px;
  display: none;
}

.answer p {
  margin: 0;
}
