#mainContent {
  z-index: 0;
}

.division {
  max-width: 1400px;
  width: 98%;
  margin: 50px auto;
  border-radius: 30px;
}

section {
  max-width: 1360px;
  margin: auto;
  border-radius: 30px;
  padding: 40px;
  position: relative;
}

.title {
  font-family: googleSans, serif;
  font-size: 35px;
  text-align: left;
  display: block;
  margin-top: 0;
}

.descriptionText {
  font-size: 20px;
  font-family: googleSans, serif;
}

#navigation {
  float: right;
}

.navigationMenu {
  background-color: #dcdcdc;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  float: right;
  width: 100%;
  border-radius: 30px;
}

.navigationTitle {
  display: block;
  text-decoration: none;
  color: black;
  text-align: center;
  padding: 10px;
  font-family: googleSans, serif;
  font-size: 20px;
}

#tournamentsNavigationTitle:hover {
  color: #404040;
}

.navigationLink {
  width: 100%;
  text-decoration: none;
  color: black;
  text-align: center;
  padding: 10px;
  font-family: googleSans, serif;
}

.navigationLink:hover {
  color: #404040;
}
