#pageHeader {
  background-image: url("/public/images/aboutImageDark.jpg");
  background-size: cover;
}

#pageHeader section {
  max-width: 1400px;
  margin: auto;
  padding: 40px 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#pageHeaderDescription {
  font-family: googleSans, "serif";
  font-size: 30px;
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
}

#quote {
  background-color: #f4f4f4;
}

#quote section {
  display: flex;
  gap: 20px;
}

#quote p {
  width: 99%;
  font: 30px googleSans, serif;
  font-weight: bold;
  color: #505050;
  margin-top: 0;
}

#quote img {
  height: 336px;
  margin: auto;
  border-radius: 30px;
  border: #242557 4px solid;
}

#fastFacts {
  background-color: white;
  padding-bottom: 80px;
}

#fastFacts section {
  display: flex;
  flex-wrap: wrap;
}

#fastFacts section p {
  width: 100%;
}

.factBox {
  width: 47%;
  border: #142039 2px solid;
  display: inline;
  margin: 1%;
  border-radius: 30px;
}

.factBox p {
  width: 100%;
  text-align: center;
  vertical-align: middle;
  font: 30px googleSans, serif;
}

#aboutNavigation {
  background-color: #142039;
  color: white;
}

#aboutNavigation section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 3%;
}

.aboutNavigationLink {
  width: 16%;
  height: 40px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  font-family: googleSans, serif;
  font-size: 20px;
  background-color: #e2f2ff;
  border-radius: 10px;
  margin-bottom: 5px;
  transition: background-color 0.25s;
  border: #404040 2px solid;
}

.aboutNavigationLink:hover {
  background-color: #becbd6;
}

#howDoIJoinButton {
  background-color: #242557;
  color: white;
  border: white 2px solid;
}

#howDoIJoinButton:hover {
  background-color: #2a2c68;
}
