#mainContent {
  z-index: 0;
}

.division {
  max-width: 1400px;
  width: 98%;
  margin: 50px auto;
  border-radius: 30px;
}

section {
  max-width: 1360px;
  margin: auto;
  border-radius: 30px;
  padding: 40px;
  position: relative;
}

#pageHeaderDescription {
  font-family: googleSans, "serif";
  font-size: 30px;
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
}

.title {
  font-family: googleSans, serif;
  font-size: 35px;
  text-align: left;
  display: block;
  margin-top: 0;
}

#pageHeader {
  background-image: url("Resource/tournamentsImage.jpg");
  background-size: cover;
}

#pageHeader section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.descriptionText {
  font-size: 20px;
  font-family: googleSans, serif;
}

#tournamentsNavigation {
  background-color: #142039;
  color: white;
}

#tournamentsNavigation section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 4%;
}

.tournamentsNavigationLink {
  width: 15.2%;
  height: 60px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  font-family: googleSans, serif;
  font-size: 20px;
  background-color: #e2f2ff;
  border: #404040 2px solid;
  border-radius: 10px;
  margin-bottom: 5px;
  transition: background-color 0.25s;
}

.tournamentsNavigationLink:hover {
  background-color: #becbd6;
}

#rulesButton {
  color: white;
  background-color: #242557;
  border-radius: 15px;
  transition: background-color 0.5s, color 0.5s;
  padding: 1px 10px;
  border: black 2px solid;
  text-decoration: none;
}

#rulesButton:hover {
  background-color: #e2f2ff;
  color: black;
}

.informationalSection {
  border: #34518e 4px solid;
}
