#pageHeader {
  background-image: url("Resource/pageHeaderBackground.png");
  background-size: cover;
  background-position: center;
  color: white;
}

.pageHeaderDescription {
  max-width: 40%;
  font-family: googleSans, "serif";
  font-size: 22px;
}

#pageHeaderImage {
  border-radius: 50%;
  position: absolute;
  right: 20px;
  bottom: 15%;
}

#resourcesNavigation {
  background-color: #dcdcdc;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  float: right;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 30px;
}

#resourcesNavigationTitle {
  display: block;
  text-decoration: none;
  color: black;
  text-align: center;
  padding: 10px;
  font-family: googleSans, serif;
  font-size: 20px;
}

#resourcesNavigationTitle:hover {
  color: #404040;
}

.resourcesNavigationLink {
  width: 100%;
  text-decoration: none;
  color: black;
  text-align: center;
  padding: 10px;
  font-family: googleSans, serif;
}

.resourcesNavigationLink:hover {
  color: #404040;
}

#documentsContainer {
  display: flex;
  justify-content: center;
  gap: 12%;
  flex-wrap: wrap;
}

.document {
  text-decoration: none;
  text-align: left;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-direction: row;
  color: black;
  box-shadow: black 1px 1px 5px;
  border-radius: 30px;
  padding: 20px;
  margin: 20px;
  background-color: #e2f2ff;
  transition: color 0.5s, background-color 0.5s;
}

.document:hover {
  background-color: #142039;
  color: white;
}

.document:hover > span > .descriptionTextSmall {
  color: white;
}

.document img {
  max-height: 400px;
  max-width: 400px;
  filter: blur(3px);
  border-radius: 10px;
  object-fit: cover;
  /*clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);*/
}
