#mainContent {
  z-index: 0;
}

#pageHeader {
  color: white;
}

#pageHeader section {
  background-image: url("Resource/houseChamber.jpg");
  background-size: cover;
}

section {
  max-width: 1360px;
  border-radius: 30px;
  margin: auto;
  padding: 40px;
  position: relative;
}

#pageHeaderDescription {
  max-width: 40%;
  font-family: googleSans, "serif";
  font-size: 22px;
}

.title {
  font-family: googleSans, serif;
  font-size: 35px;
  text-align: left;
  display: block;
  margin-top: 0;
}

.descriptionText {
  font-size: 20px;
  font-family: googleSans, serif;
}

#video iframe {
  display: block;
  margin: auto;
}

#video p {
  text-align: center;
  font-family: googleSans, serif;
}

#creditsContainer {
  color: white;
  margin-top: 40px;
  margin-bottom: 0;
  line-height: 25px;
}

#creditsContainer a {
  text-decoration: none;
  color: white;
}

#creditsContainer a:hover {
  color: #e2f2ff;
}

.division {
  /*background-color: #3c63b1;*/
  color: white;
  padding-bottom: 20px;
  max-width: 1400px;
  width: 98%;
  margin: 50px auto;
}

.informationalSection {
  display: flex;
  justify-content: center;
  background: #1c255a;
  border: #4b50b8 4px solid;
}

.image {
  height: 100%;
  display: inline-block;
  margin: auto;
  border-radius: 25px;
}

.textContainer {
  display: inline-flex;
  padding: 0 20px;
  flex-direction: column;
  justify-content: center;
}

#aboutNavigation {
  background-color: #dcdcdc;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  float: right;
  border-radius: 30px;
}

#aboutNavigationTitle {
  display: block;
  text-decoration: none;
  color: black;
  text-align: center;
  padding: 10px;
  font-family: googleSans, serif;
  font-size: 20px;
}

#aboutNavigationTitle:hover {
  color: #404040;
}

.aboutNavigationLink {
  width: 100%;
  text-decoration: none;
  color: black;
  text-align: center;
  padding: 10px;
  font-family: googleSans, serif;
}

.aboutNavigationLink:hover {
  color: #404040;
}
