#mainContent {
  z-index: 0;
}

.division {
  max-width: 1400px;
  width: 98%;
  margin: 50px auto;
  border-radius: 30px;
}

section {
  max-width: 1360px;
  margin: auto;
  border-radius: 30px;
  padding: 40px;
  position: relative;
}

#pageHeader {
  background-image: url("Resource/pageHeaderBackground.png");
  background-size: cover;
  background-position: center;
  color: white;
}

#pageHeaderDescription {
  max-width: 40%;
  font-family: googleSans, "serif";
  font-size: 22px;
}

.title {
  font-family: googleSans, serif;
  font-size: 35px;
  text-align: left;
  display: block;
  margin-top: 0;
}

#pageHeaderImage {
  border-radius: 50%;
  position: absolute;
  right: 20px;
  bottom: 15%;
}

.descriptionText {
  font-size: 20px;
  font-family: googleSans, serif;
}

#aboutNavigation {
  background-color: #dcdcdc;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  float: right;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 30px;
}

#aboutNavigationTitle {
  display: block;
  text-decoration: none;
  color: black;
  text-align: center;
  padding: 10px;
  font-family: googleSans, serif;
  font-size: 20px;
}

#aboutNavigationTitle:hover {
  color: #404040;
}

.aboutNavigationLink {
  width: 100%;
  text-decoration: none;
  color: black;
  text-align: center;
  padding: 10px;
  font-family: googleSans, serif;
}

.aboutNavigationLink:hover {
  color: #404040;
}

.imageContainer {
  width: 228px;
  height: 336px;
  display: flex;
  align-items: center;
  background-color: #bfc7f6;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: black 0 4px 10px;
}

.imageContainer img {
  display: block;
  object-fit: cover;
  margin: auto;
  width: 100%;
  height: 100%;
  border-radius: 7px;
}

#directors {
  display: flex;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
}

#board .descriptionText {
  padding: 2px;
  color: #232323;
}

#commissioners {
  display: flex;
  justify-content: center;
  gap: 75px;
  flex-wrap: wrap;
}

#commissioners .descriptionText {
  padding: 2px;
  color: #232323;
}

.commissioner {
  text-align: center;
  width: 228px;
  background-color: #e2f2ff;
  border-radius: 24px;
  border: #34518e 4px solid;
}
