#mainContent {
  z-index: 0;
}

.division {
  max-width: 1400px;
  width: 98%;
  margin: 50px auto;
  border-radius: 30px;
}

section {
  max-width: 1360px;
  margin: auto;
  border-radius: 30px;
  padding: 40px;
  position: relative;
}

#pageHeader {
  background-image: url("Resource/pageHeaderBackground.jpg");
  background-size: cover;
  background-position: center;
  color: white;
}

.pageHeaderDescription {
  max-width: 40%;
  font-family: googleSans, "serif";
  font-size: 22px;
}

.title {
  font-family: googleSans, serif;
  font-size: 35px;
  text-align: left;
  display: block;
  margin-top: 0;
}

#pageHeaderImage {
  border-radius: 50%;
  position: absolute;
  right: 20px;
  bottom: 15%;
}

.descriptionText {
  font-size: 20px;
  font-family: googleSans, serif;
}

#quote {
  background-color: #e2f2ff;
  background-color: rgba(226, 242, 255, 0.8);
  color: black;
  padding: 16px;
  border-radius: 30px;
  margin: 0;
  border: #2a2c68 4px solid;
}

.division {
  background-color: #142039;
  color: white;
  padding-bottom: 20px;
}

.image {
  vertical-align: bottom;
}

li {
  font-family: googleSans, serif;
  font-size: 20px;
}

#coaches a {
  color: #494db3;
  text-decoration: none;
}

#coaches a:hover {
  color: #2a2c68;
}

.question {
  display: flex;
  justify-content: space-between;
  background-color: #e2f2ff;
  height: 40px;
  box-shadow: black 0 2px 4px;
  transition: color 0.25s, background-color 0.25s;
}

.question p {
  margin: auto 10px;
}

.question img {
  margin: 4px;
  fill: white;
  background-color: #242557;
  border-radius: 75%;
  transition: background-color 0.25s;
}

.question:hover {
  cursor: pointer;
  background-color: #242557;
  color: white;
}

.question:hover > img {
  background-color: #111129;
  border: #e2f2ff 2px solid;
}

.answer {
  background: #1f1f4c;
  padding: 10px;
  margin-top: 2px;
  display: none;
  color: white;
}

.answer p {
  margin: 0;
}

#aboutNavigation {
  background-color: #dcdcdc;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  float: right;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 30px;
}

#aboutNavigationTitle {
  display: block;
  text-decoration: none;
  color: black;
  text-align: center;
  padding: 10px;
  font-family: googleSans, serif;
  font-size: 20px;
}

#aboutNavigationTitle:hover {
  color: #404040;
}

.aboutNavigationLink {
  width: 100%;
  text-decoration: none;
  color: black;
  text-align: center;
  padding: 10px;
  font-family: googleSans, serif;
}

.aboutNavigationLink:hover {
  color: #404040;
}
